<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ProductTypeInfoMapper">

    <!-- 分页查询产品类别信息 -->
    <select id="selectProductTypePage" resultType="java.util.LinkedHashMap">
        SELECT
        id,
        code,
        name,
        create_date
        FROM
        product_type_info
        WHERE
        1 = 1
        <if test="productTypeInfo.code != null and productTypeInfo.code != ''">
            and code LIKE CONCAT('%',#{productTypeInfo.code},'%')
        </if>
        <if test="productTypeInfo.name != null and productTypeInfo.name != ''">
            and name LIKE CONCAT('%',#{productTypeInfo.name},'%')
        </if>
        ORDER BY
        create_date DESC
    </select>
</mapper>
